
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import './../css/select2.min';
body{
  background: url("/image/banner.jpg")no-repeat center;
  background-size:100% 100%;
  height: 100vh;
}
.navbar-laravel {
  background: url("/image/banner.jpg")no-repeat center;
  background-size:100% 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
a.topic {
  background: #eff6fa;
  padding: 1px 10px 0;
  border-radius: 30px;
  text-decoration: none;
  margin: 0 5px 5px 0;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
}
a.topic:hover {
  background: #259;
  color: #ffffff;
  text-decoration: none;
}
.avatar-topnav {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-top: -5px;
  border: 1px solid white;
  border-radius: 50%;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.is-naked{
  background: 0 0;
  border: none;
  border-radius: 0;
  padding: 0;
  height: auto;
}
.actions{
  display: flex;
  padding: 10px 20px;
}
.delete-form{
  margin-left: 20px;
}
.delete-btn{
  color:#3097D1;
  text-decoration: none;
}
.user-statics , .user-actions {
  margin: 20px auto;
}
.user-statics {
  display: -webkit-box;
}
.statics-item {
  padding: 2px 20px;
}
.padding-b-15{
  padding-bottom: 15px!important;
}
.message-list{
  margin-top: 88px;
}
.media.unread {
  background:#fff9ca;
}
.notifications {
  position: relative;
  padding: 8px 15px 8px 25px;
  color: #666;
  border: none;
  border-top: 1px dotted #eee;
  background: transparent;
}
.notifications.unread {
  background: #fff9ea;
}
